In [5]:
import pandas as pd

df = pd.read_csv('0304 test2 year2015',encoding = "Big5")

df.head()

FileNotFoundError: [Errno 2] No such file or directory: '0304 test2 year2015'

In [7]:
import pandas as pd

df = pd.read_csv('0304 test 2015')

df.head()

FileNotFoundError: [Errno 2] No such file or directory: '0304 test 2015'

In [8]:
import pandas as pd

df = pd.read_csv('0304 test 2015')

df.head()

FileNotFoundError: [Errno 2] No such file or directory: '0304 test 2015'

In [9]:
import pandas as pd

df = pd.read_csv('0304 test 2015')

df.head()

FileNotFoundError: [Errno 2] No such file or directory: '0304 test 2015'

In [10]:
import pandas as pd

df = pd.read_csv('0304 test 2015')

df.head()

FileNotFoundError: [Errno 2] No such file or directory: '0304 test 2015'

In [11]:
import pandas as pd

df = pd.read_csv('test 2016')

df.head()

FileNotFoundError: [Errno 2] No such file or directory: 'test 2016'

In [14]:
import pandas as pd

df = pd.read_csv('test2 2015.csv')

df.head()

,RptNo,RptName,StatCourseNo,StatCourseName,DataDate,PlaceNo,PlaceName,PeriodNo,PeriodName,Complex1,...,Complex5,Complex5Name,DeriveNo,DeriveExplain,FValue,SValue,RptDeptNo,RptDeptName,CreateTime,ModifyTime
0,10450-03-05-2,-(),1045003a003,-(:),2015/8/1 12:00:00,10000066000,,S,,230310000201,...,9900100001,,0,NaN,2761,NaN,387040000E,,2016/12/16 09:40:38,NaN
1,10450-03-05-2,-(),1045003a003,-(:),2015/8/1 12:00:00,10000066000,,S,,230310000201,...,9900100001,,0,NaN,2490,NaN,387040000E,,2016/12/16 09:40:38,NaN
2,10450-03-05-2,-(),1045003a003,-(:),2015/8/1 12:00:00,10000066000,,S,,230310000201,...,9900100001,,0,NaN,1287,NaN,387040000E,,2016/12/16 09:40:38,NaN
3,10450-03-05-2,-(),1045003a003,-(:),2015/8/1 12:00:00,10000066000,,S,,230310000201,...,9900100001,,0,NaN,1112,NaN,387040000E,,2016/12/16 09:40:38,NaN
4,10450-03-05-2,-(),1045003a003,-(:),2015/8/1 12:00:00,10000066000,,S,,230310000201,...,9900100001,,0,NaN,2417,NaN,387040000E,,2016/12/16 09:40:38,NaN

In [16]:
temp = df[['Complex4Name', 'FValue']]
temp

       Complex4Name  FValue
0    __    2761
1    __    2490
2    __    1287
3    __    1112
4    __    2417
..              ...     ...
235       _       0
236       _       0
237       _       0
238       _       0
239       _       0

[240 rows x 2 columns]

In [17]:
Type = temp.groupby(['Complex4Name'])['FValue'].sum().reset_index()

In [18]:
Type['year'] = 2015
Type

      Complex4Name  FValue  year
0           _    2442  2015
1           _    1884  2015
2           _    1773  2015
3           _       0  2015
4           _    1211  2015
5           _    3161  2015
6           _    1274  2015
7           _       0  2015
8        _    4426  2015
9        _    4471  2015
10       _    4250  2015
11       _       0  2015
12  __   24408  2015
13  __   24300  2015
14  __   22937  2015
15  __       0  2015
16          _   35167  2015
17          _   32427  2015
18          _   33220  2015
19          _       0  2015

In [19]:
df2016 = pd.read_csv('test2 2016.csv')
df2017 = pd.read_csv('test2 2017.csv')

In [20]:
new = df2016[['Complex4Name', 'FValue']].groupby(['Complex4Name'])['FValue'].sum().reset_index()
new['year'] = 2016
new

      Complex4Name  FValue  year
0           _    2604  2016
1           _    1743  2016
2           _    2120  2016
3           _       0  2016
4           _    1294  2016
5           _    1262  2016
6           _    1259  2016
7           _       0  2016
8        _    4128  2016
9        _    3920  2016
10       _    3894  2016
11       _       0  2016
12  __   24428  2016
13  __   22904  2016
14  __   24019  2016
15  __       0  2016
16          _   33872  2016
17          _   32756  2016
18          _   33251  2016
19          _       0  2016

In [21]:
new = df2017[['Complex4Name', 'FValue']].groupby(['Complex4Name'])['FValue'].sum().reset_index()
new['year'] = 2017
new

      Complex4Name  FValue  year
0           _    2490  2017
1           _    2011  2017
2           _    2279  2017
3           _       0  2017
4           _    1280  2017
5           _    1272  2017
6           _    1276  2017
7           _       0  2017
8        _    3370  2017
9        _    3631  2017
10       _    3570  2017
11       _       0  2017
12  __   23451  2017
13  __   24008  2017
14  __   24093  2017
15  __       0  2017
16          _   27930  2017
17          _   32762  2017
18          _   32015  2017
19          _       0  2017

In [22]:
frames = [Type, new]

result = pd.concat(frames)
result

      Complex4Name  FValue  year
0           _    2442  2015
1           _    1884  2015
2           _    1773  2015
3           _       0  2015
4           _    1211  2015
5           _    3161  2015
6           _    1274  2015
7           _       0  2015
8        _    4426  2015
9        _    4471  2015
10       _    4250  2015
11       _       0  2015
12  __   24408  2015
13  __   24300  2015
14  __   22937  2015
15  __       0  2015
16          _   35167  2015
17          _   32427  2015
18          _   33220  2015
19          _       0  2015
0           _    2490  2017
1           _    2011  2017
2           _    2279  2017
3           _       0  2017
4           _    1280  2017
5           _    1272  2017
6           _    1276  2017
7           _       0  2017
8        _    3370  2017
9        _    3631  2017
10       _    3570  2017
11       _       0  2017
12  __   23451  2017
13  __   24008  2017
14  __   24093  2017
15  __       0  2017
16          _   27930  2017
17          _   32762  2017
18          _   32015  2017
19          _       0  2017

### 2016=new

In [29]:
new = df2016[['Complex4Name', 'FValue']].groupby(['Complex4Name'])['FValue'].sum().reset_index()
new['year'] = 2016
new

      Complex4Name  FValue  year
0           _    2604  2016
1           _    1743  2016
2           _    2120  2016
3           _       0  2016
4           _    1294  2016
5           _    1262  2016
6           _    1259  2016
7           _       0  2016
8        _    4128  2016
9        _    3920  2016
10       _    3894  2016
11       _       0  2016
12  __   24428  2016
13  __   22904  2016
14  __   24019  2016
15  __       0  2016
16          _   33872  2016
17          _   32756  2016
18          _   33251  2016
19          _       0  2016

### 2017=old

In [28]:
old = df2017[['Complex4Name', 'FValue']].groupby(['Complex4Name'])['FValue'].sum().reset_index()
old['year'] = 2017
old

      Complex4Name  FValue  year
0           _    2490  2017
1           _    2011  2017
2           _    2279  2017
3           _       0  2017
4           _    1280  2017
5           _    1272  2017
6           _    1276  2017
7           _       0  2017
8        _    3370  2017
9        _    3631  2017
10       _    3570  2017
11       _       0  2017
12  __   23451  2017
13  __   24008  2017
14  __   24093  2017
15  __       0  2017
16          _   27930  2017
17          _   32762  2017
18          _   32015  2017
19          _       0  2017

### 2015~2017

In [30]:
frames = [Type, new, old]

result = pd.concat(frames)
result

      Complex4Name  FValue  year
0           _    2442  2015
1           _    1884  2015
2           _    1773  2015
3           _       0  2015
4           _    1211  2015
5           _    3161  2015
6           _    1274  2015
7           _       0  2015
8        _    4426  2015
9        _    4471  2015
10       _    4250  2015
11       _       0  2015
12  __   24408  2015
13  __   24300  2015
14  __   22937  2015
15  __       0  2015
16          _   35167  2015
17          _   32427  2015
18          _   33220  2015
19          _       0  2015
0           _    2604  2016
1           _    1743  2016
2           _    2120  2016
3           _       0  2016
4           _    1294  2016
5           _    1262  2016
6           _    1259  2016
7           _       0  2016
8        _    4128  2016
9        _    3920  2016
10       _    3894  2016
11       _       0  2016
12  __   24428  2016
13  __   22904  2016
14  __   24019  2016
15  __       0  2016
16          _   33872  2016
17          _   32756  2016
18          _   33251  2016
19          _       0  2016
0           _    2490  2017
1           _    2011  2017
2           _    2279  2017
3           _       0  2017
4           _    1280  2017
5           _    1272  2017
6           _    1276  2017
7           _       0  2017
8        _    3370  2017
9        _    3631  2017
10       _    3570  2017
11       _       0  2017
12  __   23451  2017
13  __   24008  2017
14  __   24093  2017
15  __       0  2017
16          _   27930  2017
17          _   32762  2017
18          _   32015  2017
19          _       0  2017